:root {
  --schema-editor-grid-color: rgb(240, 240, 240);
  --schema-editor-canvas-bg-image: linear-gradient(
      to right,
      var(--schema-editor-grid-color) 1px,
      transparent 1px
    ),
    linear-gradient(
      to bottom,
      var(--schema-editor-grid-color) 1px,
      transparent 1px
    );
  --schema-editor-selection-box-bg: #c9dd1534;
  --schema-editor-navigator-map-bg: #c0c8fb40;
  --schema-editor-navigator-map-stroke: #c0c8fbe8;
}

.canvas {
  position: relative;
  background-image: var(--schema-editor-canvas-bg-image);
  background-size: 25px 25px;
  border: 1px solid var(--schema-editor-grid-color);
  overflow: hidden;
  touch-action: none;
  user-select: none;
  outline: 0;
  width: 100%;
  height: 100%;
}

.drag {
  text-align: left;
  width: 100%;
  height: 100%;
  user-select: none;
  touch-action: none;
  position: relative;
  transform-origin: 0 0;
}
