.schema-editor-selection-box {
  position: absolute;
  z-index: 10;
  background: var(--schema-editor-selection-box-bg);
  user-select: none;
  display: none;

  &.schema-editor-selection-box-visible {
    display: block;
  }
}
